@model CST_350_Milestone.Models.GameBoard

<style>
	.game-button { width: 50px; border: 2px black; margin: 3px }
	.game-button-image { width: 45px; }
	.button-zone { display: flex; flex-wrap: wrap; }
	.line-break { flex-basis: 100%; height: 0; }
	.button-label { font-size: 8px; text-align: center; }
</style>

@{
	string[] imageNames = { "unclicked.png", "clicked.png", "flag.png", "bomb.png" };
}

<form asp-action="HandleButton">
	<div class="button-zone">
		@for (int i = 0; i<Model.Size; i++)
		{
			for(int j=0; j<Model.Size; j++)
			{
				<button class="game-button" type="submit" name="buttonNumber"
						asp-controller="Game" asp-action="">
					@Model.Grid[i,j].Live
				</button>
			}
			<br />
		}
	</div>
</form>